[submodule ".vim/bundle/dispatch"]
	path = .vim/bundle/dispatch
	url = http://github.com/tpope/vim-dispatch.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
